 @font-face {
    font-family: 'Menlo';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo'), url('../assets/fonts/Menlo-Regular.woff') format('woff');
}

body {
    font-family: 'Menlo';
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.card a{
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 320px) {
    body {
        font-size: 12px;
        text-align: left;
    }

    .card {
        font-size: 78%;
    }
}
